body 
{background-color: powderblue;
font-family: Verdana, sans-serif;}

h1   
{color: blue;
font-family: 'Brush Script MT', cursive;}

h2   
{color: red;
font-family: 'Courier New', monospace;}

.center
{margin: auto;
  width: 60%;}

/* body {
    font-family: Gothic;
    background-color: skyblue;
    padding: 20px
  }

  h1 {
    color: #2800FF;
  } */