body 
{background-color: powderblue;}

h1   
{color: blue;}

h2   
{color: red;}

/* body {
    font-family: Gothic;
    background-color: skyblue;
    padding: 20px
  }

  h1 {
    color: #2800FF;
  } */